/nb-configuration.xml
/nbactions.xml
docker/
webgoat-container/
webwolf/
webgoat-server/
webgoat-integration-tests/
/.classpath
/.project
/.settings/.jsdtscope
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.settings/org.eclipse.wst.validation.prefs
/.externalToolBuilders/
.project
target/generated-sources/*
target/generated-test-sources/*
target/maven-archiver/*
target/maven-status/*
target/surefire-reports/*
target/test-classes/*
target/classes/db/*
target/classes/i18n/*
target/classes/lessons/*
target/classes/webgoat/*
target/classes/org/dummy/*
target/classes/org/owasp/webgoat/container/*
**/*.txt
**/*.jar.original
*.pmd
mongo-data/*
.classpath
.idea/
.settings/
src/main/main.iml
*.BACKUP.*.jsp
*.BASE.*.jsp
*.LOCAL.*.jsp
*.REMOTE.*.jsp
src/main/webapp/plugin_extracted/*
src/main/webapp/users/*.jar
src/main/webapp/plugin_lessons/*.jar
src/main/webapp/users/*.props
*.iml
pom.xml.versionsBackup
**/*.properties
**/*.pkcs12
/*.iml
.extract/*
UserDatabase.mv.db
webgoat-container/src/main/webapp/users/guest.org.owasp.webgoat.plugin.*.props
webgoat-container/src/main/webapp/plugin_lessons/dist-*.pom
webgoat-lessons/**/target
**/*.jar
**/.DS_Store
webgoat-server/mongo-data/*
webgoat-lessons/vulnerable-components/dependency-reduced-pom.xml
**/.sts4-cache/*
**/.vscode/*
**/.factorypath
/.sonatype
**/bin/*
webgoat.lck
webgoat.log
webgoat.properties
webgoat.script
TestClass.class
**/*.flattened-pom.xml
/.gitconfig
